---
let { title } = Astro.props
let { route_nav } = Astro.props

let subtitle = "Bambu Kuning"
import { Navigation, Header, Footer } from "@globals"
---

<html lang="en">
	<head>
		<!-- SEO. -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			content="Premium Multipurpose Admin & Dashboard Template"
			name="description"
		/>
		<meta content="Themesbrand" name="author" />
		<!-- App favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link
			href="/libs/select2/css/select2.min.css"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- Bootstrap Css -->
		<link
			href="/css/bootstrap.min.css"
			id="bootstrap-style"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- Icons Css -->
		<link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
		<!-- App Css-->
		<link
			href="/css/app.min.css"
			id="app-style"
			rel="stylesheet"
			type="text/css"
		/>
		<title>{title} - {subtitle}</title>
	</head>
	<body data-sidebar="dark">
		<!-- <body data-layout="horizontal" data-topbar="dark"> -->

		<!-- Begin page -->
		<div id="layout-wrapper">
			<Header />

			<!-- ========== Left Sidebar Start ========== -->
			<Navigation />
			<!-- Left Sidebar End -->

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="main-content">
				<div class="page-content">
					<div class="container-fluid">
						<!-- start page title -->
						<div class="row">
							<div class="col-12">
								<div
									class="page-title-box d-sm-flex align-items-center justify-content-between"
								>
									<h4 class="mb-sm-0 font-size-18">{title}</h4>

									<div class="page-title-right">
										<ol class="breadcrumb m-0">
											{
												route_nav?.map((item, index) => (
													<li
														class={
															"breadcrumb-item" +
															(index === route_nav.length - 1 ? " active" : "")
														}
													>
														<a>{item}</a>
													</li>
												))
											}
										</ol>
									</div>
								</div>
							</div>
						</div>
						<!-- end page title -->

						<main id="main-contents">
							<slot />
						</main>
					</div>
					<!-- container-fluid -->
				</div>
				<!-- End Page-content -->

				<Footer />
			</div>
			<!-- end main content-->
		</div>
		<!-- END layout-wrapper -->

		<!-- Right Sidebar -->

		<!-- /Right-bar -->

		<!-- Right bar overlay-->
		<div class="rightbar-overlay"></div>

		<!-- JAVASCRIPT -->
		<script is:inline src="/libs/jquery/jquery.min.js"></script>
		<script is:inline src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script is:inline src="/libs/metismenu/metisMenu.min.js"></script>
		<script is:inline src="/libs/simplebar/simplebar.min.js"></script>
		<script is:inline src="/libs/node-waves/waves.min.js"></script>
		<script is:inline src="/js/app.js"></script>
		<script is:inline src="/libs/select2/js/select2.min.js"></script>
		<script is:inline src="/js/pages/form-advanced.init.js"></script>
	</body>
</html>
