<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-sm-end d-none d-sm-block">© 2023 - Bambu Kuning</div>
			</div>
		</div>
	</div>
</footer>
