<div class="vertical-menu">
	<div data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Menu</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-home-circle"></i>
						<span key="t-dashboards">Dashboard</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li><a href="/" key="t-default">Analytic Dashboard</a></li>
						<li>
							<a href="/measurement" key="t-saas">Measurement Dashboard</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="/logs" class="waves-effect">
						<i class="bx bx-detail"></i>
						<span key="t-blog">Log Report</span>
					</a>
				</li>

				<li>
					<a href="/plant" class="waves-effect">
						<i class="bx bx-map"></i>
						<span key="t-maps">Plant / Factory</span>
					</a>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-layout"></i>
						<span key="t-layouts">Vendor</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="/vendor" key="t-products">Vendor</a>
						</li>
						<li>
							<a href="/vendor/assignment" key="t-product-detail"
								>Vehicle Assignment</a
							>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-taxi"></i>
						<span key="t-taxi">Vehicle</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="/vehicle" key="t-products">Vehicle</a>
						</li>
						<li>
							<a href="/vehicle/brand" key="t-product-detail">Brand</a>
						</li>
						<li>
							<a href="/vehicle/type" key="t-product-detail">Vehicle Type</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-cog"></i>
						<span key="t-cogs">Setting</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="ecommerce-products.html" key="t-products">User Profile</a
							>
						</li>
						<li>
							<a href="ecommerce-product-detail.html" key="t-product-detail"
								>User Access</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
